<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>JSP-Study</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <context-param>
  	<param-name>INIT_PARAM</param-name>
  	<param-value>web.xml에 저장한 초기화 매개변수</param-value>
  </context-param>
  <error-page>
  	<error-code>404</error-code>
  	<location>/Implicit-Object/Exception.jsp</location>
  </error-page>
  <error-page>
  	<error-code>405</error-code>
  	<location>/Implicit-Object/Exception.jsp</location>
  </error-page>
  <!-- <error-page>
  	<error-code>500</error-code>
  	<location>/Implicit-Object/Exception.jsp</location>
  </error-page> -->
  
  <!-- Name/Value 방법으로 전체 공유하겠다! -->
  <context-param>
  	<param-name>imgDir</param-name>
  	<param-value>/upload/img</param-value>
  </context-param>
  
  <context-param>
  	<param-name>WindowOracleServer</param-name>
  	<param-value>180.68.32.70</param-value>
  </context-param>
  
  <context-param>
  	<param-name>adminID</param-name>
  	<param-value>hyeongju1122</param-value>
  </context-param>
  
  <context-param>
  	<param-name>adminPW</param-name>
  	<param-value>22017048</param-value>
  </context-param>
  
<!--   <servlet>
  <servlet-name>JSP</servlet-name>
  	<jsp-file>/index.jsp</jsp-file>
	<init-param>
		<param-name>adminID</param-name>
		<param-value>root</param-value> 
	</init-param>
  	<init-param>
		 <param-name>adminPW</param-name>
		 <param-value>database</param-value> 
  	</init-param>
  </servlet> -->
  
  <servlet>
  	<servlet-name>HRDKR</servlet-name>
  	<servlet-class>com.map.Mpg</servlet-class>
  	<init-param>
  		<param-name>adminID</param-name>
  		<param-value>root</param-value>
  	</init-param>
  	<init-param>
  		<param-name>adminPW</param-name>
  		<param-value>database</param-value>
  	</init-param>
  </servlet>
  
 <servlet-mapping>
  	<servlet-name>HRDKR</servlet-name>
  	<url-pattern>/Korail</url-pattern>
 </servlet-mapping>
 
 <!--데이터베이스 연동을 더 쉽게 처리하기위해 XML을 사용합니다. -->
 <context-param>
	<param-name>OracleCloud</param-name>
	<param-value>oracle.jdbc.OracleDriver</param-value>	
 </context-param> 
 <context-param>
	<param-name>OCURL</param-name>
	<param-value>jdbc:oracle:thin:@oracledatabase_medium?TNS_ADMIN=/Users/parkhyeongju/Downloads/Wallet_OracleDataBase</param-value>	
 </context-param> 
 <context-param>
	<param-name>OCID</param-name>
	<param-value>ADMIN</param-value>	
 </context-param> 
 <context-param>
	<param-name>OCPWD</param-name>
	<param-value>database616125Os!</param-value>	
  </context-param> 

<!-- 윈도우 로컬개발환경 -->
<context-param>
	<param-name>SQLP</param-name>
	<param-value>oracle.jdbc.OracleDriver</param-value>	
 </context-param> 
 <context-param>
	<param-name>SQLPURL</param-name>
	<param-value>jdbc:oracle:thin:@//180.68.32.70:1521/xe</param-value>	
 </context-param> 
 <context-param>
	<param-name>SQPID</param-name>
	<param-value>SYSTEM</param-value>	
 </context-param> 
 <context-param>
	<param-name>SQPPWD</param-name>
	<param-value>1234</param-value>	
  </context-param> 
  
  <!-- 세션 유지시간 설정 -->
  <session-config>
  	<session-timeout>20</session-timeout>
  	<!-- xml doc.에서는 분 단위로 설정가능 -->
  </session-config>
  
</web-app>
