<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>JSP-Study</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <context-param>
  	<param-name>INIT_PARAM</param-name>
  	<param-value>web.xml에 저장한 초기화 매개변수</param-value>
  </context-param>
  <error-page>
  	<error-code>404</error-code>
  	<location>/Implicit-Object/Exception.jsp</location>
  </error-page>
  <error-page>
  	<error-code>405</error-code>
  	<location>/Implicit-Object/Exception.jsp</location>
  </error-page>
  <!-- <error-page>
  	<error-code>500</error-code>
  	<location>/Implicit-Object/Exception.jsp</location>
  </error-page> -->
  
  <!-- Name/Value 방법으로 전체 공유하겠다! -->
  <context-param>
  	<param-name>imgDir</param-name>
  	<param-value>/upload/img</param-value>
  </context-param>
  
  <context-param>
  	<param-name>WindowOracleServer</param-name>
  	<param-value>180.68.32.70</param-value>
  </context-param>
  
  <servlet>
  	<servlet-name>Inflearn</servlet-name>
  	<jsp-file>/index.jsp</jsp-file>
  	<init-param>
  		<param-name>adminID</param-name>
  		<param-value>hyeongju</param-value>
  	</init-param>
  	<init-param>
  		<param-name>adminPW</param-name>
  		<param-value>database</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Inflearn</servlet-name>
  	<url-pattern>/index.jsp</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>HRDKR</servlet-name>
  	<servlet-class>com.map.Mapping</servlet-class>
  	<init-param>
  		<param-name>adminID</param-name>
  		<param-value>root</param-value>
  	</init-param>
  	<init-param>
  		<param-name>adminPW</param-name>
  		<param-value>database</param-value>
  	</init-param>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>HRDKR</servlet-name>
  	<url-pattern>/Korail</url-pattern>
  </servlet-mapping>
</web-app>